.lh
.DS_Store
10/spam.csv
3/Module_1_Lecture_2_Class_Spaceship_Titanic.csv
4/ConcreteStrengthData.csv
4/Module_2_Lecture_2_Class_penguins.csv
6/seg_test
6/seg_train
7/Module_3_Lecture_2_Class_iris.csv
7/Module_3_Lecture_2_Class_iris_test.csv
8/Module_4_Lecture_2_Class_iris.csv
8/Module_4_Lecture_2_Class_iris_test.csv
8/datasets
9/Module_5_Lecture_2_Class_iris.csv
9/Module_5_Lecture_2_Class_iris_test.csv
10/Module_6_Lecture_2_Class_iris.csv
10/Module_6_Lecture_2_Class_iris_test.csv
11/Module_7_Lecture_2_Class_iris.csv
11/Module_7_Lecture_2_Class_iris_test.csv
12/Module_8_Lecture_2_Class_iris.csv
12/Module_8_Lecture_2_Class_iris_test.csv
13/Module_9_Lecture_2_Class_iris.csv
13/Module_9_Lecture_2_Class_iris_test.csv
14/Module_10_Lecture_2_Class_iris.csv
14/Module_10_Lecture_2_Class_iris_test.csv
15/Module_11_Lecture_2_Class_iris.csv
15/Module_11_Lecture_2_Class_iris_test.csv
16/Module_12_Lecture_2_Class_iris.csv
16/Module_12_Lecture_2_Class_iris_test.csv
17/Module_13_Lecture_2_Class_iris.csv
fp/images
